header {
    font-size: large;
    background-color: lightcyan;
    text-align: center;
    padding: 10px;
}
.start-button {
    border: 1px solid black;
    font-size: large;
}

.open-rules {
    border: 1px solid black;
    font-size: large;
}

main {
    display: grid;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 80px;
    row-gap: 5px;
    column-gap: 10px;
}

form {
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.incorrect-guesses {
    background-color: lightcoral;
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    text-align: center;
}

.correct-guesses {
    background-color: lightblue;
    grid-row: 6 / span 1;
    grid-column: 1 / span 3;
}

.submit-form {
    background-color: lightyellow;
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
}

input {
    height: 30px;
    border: 2px solid black;
    text-transform: capitalize;
}

.submit-button {
    padding: 10px;
    margin-left: 70px;
    border: 1px solid black;
    font-size: large;
}

.flower {
    background-color: lightgreen;
    grid-row: 1 / span 4;
    grid-column: 2 / span 2;
    text-align: center;
}
.win-count {
    background-color: lightslategray;
    text-align: center;
    padding-bottom: 10px;
    grid-row: 7 / span 1fr;
    grid-column: 1 / span 1fr;
}

.loss-count {
    background-color: lightsalmon;
    grid-row: 7 / span 1;
    grid-column: 3 / span 1;
    text-align: center;
}

.word-title {
    text-align: center;
}

.answer {
    display: inline;
    text-transform: capitalize;
    font-size: 30px;
    padding: 15px;
    justify-content: space-evenly;
}

/* Modal CSS */
